{% extends 'pamusika_web_market/base.html' %}


{% block title %} Dashboard {% endblock%}

{% block content %}
<section class="newest-item">
    <div class="container py-5 pt-3">
        <div class="row py-5">
            <div class="col-lg-5 m-auto text-center">
                <h1>My Items</h1>
                <h6 style="color:red">Just in...</h6>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-lg-8 m-auto grey-color">
                <div class="row text-center pt-5 px-5">
                    {% for item in items %}
                    <div class="col-lg-4 mb-5 box-shadow">
                        <a class="links" href="{% url 'item:detail' item.id %}">
                            <img src="{{item.image.url}}" class="img-fluid" alt="photo of {{item}}" />
                            <h5>NEW</h5>
                            <h6>{{item}}</h6>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}